{% macro render_form(field, label=True, value=None) -%}
    {% set with_label = kwargs.pop('with_label', False) %}
    {% set placeholder = '' %}
    {% if field.description %}
        {% set placeholder = field.description %}
    {% elif not with_label %}
        {% set placeholder = field.label.text %}
    {% endif %}
    <div class="control-group {% if field.errors %}error{% endif %}">
        {% if with_label %}
            <label for="{{ field.id }}" class="control-label">
                {{ field.label.text }}{% if field.flags.required %} *{% endif %}:
            </label>
        {% endif %}
        <div class="controls">
            {% if label %}
            {{ field.label }}
            {% endif %}
            <br>
            {% set class_ = kwargs.pop('class_', '') %}
            {% if field.flags.required %}
                {% set class_ = class_ + ' required' %}
            {% endif %}
            {% if field.type == 'BooleanField' %}
                <label class="checkbox">
                    {{ field(class_=class_, **kwargs) }}
                    {{ field.label.text|safe }}
                </label>
            {% else %}
              {% if field.type in ('TextField', 'TextAreaField', 'PasswordField') %}
                {% set class_ = class_ + ' input-xlarge' %}
              {% elif field.type == 'FileField' %}
                {% set class_ = class_ + ' input-file' %}
              {% endif %}
              {% if value %}
                {{ field(class_=class_, value=value, **kwargs) }}
              {% else %}
                {{ field(class_=class_, placeholder=placeholder, **kwargs) }}
              {% endif %}
            {% endif %}
            {% if field.errors %}
                <span class="error help-inline" style="color:red">{{ field.errors|join(', ') }}</span>
            {% endif %}
        </div>
    </div>
{%- endmacro %}
