{% extends "base.html" %}
{% block content %}
  <div class="container bg-light" style="padding:50px">
    <h1>Profile</h1>
  </div>
  <div class="container" style="background:white; padding:50px">
    <table class="table table-borderless">
      <tbody>
        <tr>
          <th style="width: 150px; text-align:right">Title</th>
          <td>{{ profile['title'] }}</td>
        </tr>
        <tr>
          <th style="text-align:right">Full Name</th>
          <td>{{ smart.human_name(smart.patient.name[0]) }}</td>
        </tr>
        <tr>
          <th style="text-align:right">Date of Birth</th>
          <td>{{ smart.patient.birthDate.isostring }}</td>
        </tr>
        <tr>
          <th style="text-align:right">Contact</th>
          <td>{{ profile['contact'] }}</td>
        </tr>
        <tr>
          <th style="text-align:right">Address</th>
          <td>{{ profile['address'] }}</td>
        </tr>
        <tr>
          <th style="text-align:right">Language</th>
          <td>{{ profile['language'] }}</td>
        </tr>
        <tr>
          <td><br></td>
        </tr>
        <tr>
          <th></th>
          <td>
            <a class="btn btn-secondary" href="{{ url_for('profile_bp.edit') }}" rold="button">Edit</a>
          </td>
        </tr>
      </tbody>
  </div>
{% endblock %}
