{% from 'macros.html' import render_form %}
{% extends "base.html" %}
{% block content %}
<div class="container bg-light" style="padding:50px">
  <h1>Medication History</h1>
  <h2>{{ smart.human_name(smart.patient.name[0]) }}</h2>
</div>
<!-- modified from https://codepen.io/ph1p/pen/JBBjNy -->
<div class="container bg-white" style="padding:50px">
  <div class="wrapper">
  	<div class="header">
      <form action="{{ url_for('medications_bp.grid') }}" method="get">
        <input class="required" id="search_date" name="search_date" type="date" value="{{ search_date }}">
        <input type="submit" value="Search">
      </form>
  	</div>
  	<div class="gantt">
  		<div class="gantt__row gantt__row--months">
  			<div class="gantt__row-first"></div>
        {% for d in date_range %}
        <span>{{ d.strftime('%b %d') }}</span>
        {% endfor %}
  		</div>
  		<div class="gantt__row gantt__row--lines" data-month="5">
        <span></span>
        {% for d in date_range %}
        <span class="{% if d==search_date %} marker {% endif %}"></span>
        {% endfor %}
  		</div>
      {% for m in medications %}
      <div class="gantt__row">
  			<div class="gantt__row-first">
  				{{ m['medication_name'] }}
  			</div>
  			<ul class="gantt__row-bars">
  				<li style="grid-column: {{ m['start_position'] }}/{{ m['end_position'] }}; background-color: #54c6f9;">
           {{ m['end_position'] - m['start_position']}} Days
          </li>
  			</ul>
  		</div>
      {% endfor %}
  	</div>
    {% if not medications %}
    <p>No history of medication administration between {{ start }} and {{ end }}, try 2014-01-25.</p>
    {% endif %}
  </div>
</div>

{% endblock %}
